{%load static%}

<!DOCTYPE html>
<html>

<head>

  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>PLANTAE</title>

  <link rel="icon" type="image/jpg" href="{% static 'images/Logotipo 1 png.png' %}" />


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'images/Logotipo 1 png.png' %}" alt="" />
            <span>
              PLANTAE
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Página Inicial <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sobre' %}">Sobre Nós</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'criar_plantas' %}">Cadastrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'consultar' %}">Consultar</a>
              </li>
            </ul>
          </div>
          <div>
            <div class="custom_menu-btn ">
              <button>
                <span class=" s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
          </div>

        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- experience section -->

  <section class="experience_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="img-box">
            <img src="{% static 'images/experience-img.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                QUEM SOMOS NÓS?
              </h2>
            </div>
            <p>
              O projeto consiste em uma plataforma web onde o produtor agrícola consegue consultar quais as melhores plantas a serem cultivadas em determinada região baseada em clima, solo, e condições adversas. Para isso iremos utilizar API's disponibilizadas pela Embrapa de forma aberta e freemium onde as consultas realizadas serão retornadas em forma de tabelas e descrição, a fim de colaborar com a disseminação de informações sobre a diversidade de plantas.
            </p>
            <div class="btn-box">
              <a href="{% url 'home' %}" class="btn-1">
                Página Inicial
              </a>
              <a href="{% url 'consultar' %}" class="btn-2">
                Consultar
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end experience section -->


  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-9 mx-auto">
          <div class="img-box">
            <img src="{% static 'images/about-img.jpg' %}" alt="">
          </div>
        </div>
      </div>
      <div class="detail-box">
        <h2>
          SOBRE O PROJETO
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sem orci, ullamcorper eget placerat elementum, facilisis aliquam orci. Mauris ullamcorper non nisl at imperdiet. Mauris faucibus ultricies eros, id efficitur tortor faucibus nec. Integer imperdiet ipsum a tempor ultricies. Phasellus et tempus ex, et posuere tellus. Cras facilisis iaculis leo quis interdum. Mauris pulvinar gravida efficitur. Proin maximus, ligula ut ullamcorper vestibulum, nisi sem ullamcorper mauris, et elementum mi nisl eu risus.
        </p>
        <a href="{% url 'consultar' %}">
          Consultar
        </a>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->

  <section class="info_section ">
    <div class="info_container layout_padding-top">
      <div class="container">
        <div class="info_top">
          <div class="info_logo">
            <img src="{% static 'images/Logotipo 1 png.png' %}" alt="" />
            <span>
              PLANTAE
            </span>
          </div>
        </div>

        <div class="info_main">
          <div class="row">
            <div class="col-md-3 col-lg-4">
              <div class="info_link-box">
                <h5>
                  Links Úteis
                </h5>
                <ul>
                  <li class=" active">
                    <a class="" href="{% url 'home' %}">Página Inicial<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="">
                    <a class="" href="{% url 'sobre' %}">Sobre Nós </a>
                  </li>
                  <li class="">
                    <a class="" href="{% url 'consultar' %}">Consultar </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 ">
              <h5>
                APIs Utilizadas
              </h5>
              <p>
                Estamos utilizando API's disponibilizadas pela <a href="https://www.agroapi.cnptia.embrapa.br/portal/">Embrapa</a> de forma aberta e freemium.
              </p>
            </div>

            <div class="col-md-9 col-lg-4 offset-lg-1">
              <h5>
                Base
              </h5>
              <p>
                O projeto consiste em uma plataforma web onde o produtor agrícola consegue consultar quais as melhores plantas a serem cultivadas em determinada região baseada em clima, solo, e condições adversas. Para isso iremos utilizar API's disponibilizadas pela Embrapa de forma aberta e freemium onde as consultas realizadas serão retornadas em forma de tabelas e descrição, a fim de colaborar com a disseminação de informações sobre a diversidade de plantas.              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->


  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>


</body>
</body>

</html>